@import "tailwindcss";

:root {
  /* Cores principais */
  --text-color: #ffffff;

  /* Azuis */
  --azul-claro-escuro: #053c80;   /* Uso: cabeçalhos, blocos */
  --azul-claro-escuro2: #2779DC;  /* Uso: botões, CTA */
  --azul-claro-escuro3: #0f6abe;  /* Uso: destaques, bordas */
  --azul-claro: #73CFFC;          /* Uso: hover, links */

  /* Cinza */
  --cinza-escuro: #2a2a2a;        /* Levemente mais suave que #333 */

  /* Fundo */
  --background: #031b38;          /* Fundo principal do site */
  --foreground: #093263;          /* Elementos de primeiro plano */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #021227; /* Fundo ainda mais profundo no modo escuro */
    --foreground: #0a2852;
  }
}

html{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}


/* Animação Caelum */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-hover {
  cursor: default;
  color: inherit;
  background: linear-gradient(270deg, #73CFFC, #4dbdf5, #15affc);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease;
}

/* Hover: ativa o degradê animado */
.gradient-hover:hover {
  color: transparent;
  -webkit-text-fill-color: transparent; /* Safari fix */
  animation: gradientShift 5s ease infinite;
}

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
section.fade-in {
  opacity: 1;
  transform: translateY(0);
}
